*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

header{

/* background: #c2d5d5; */
}
.logo{

}
.logo img{
    
}
.menu{

text-transform: capitalize;

font-size: 20px;
}
.menu p{
    
}
.header_content{
    
width: 80%;
    
margin: auto;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
    
padding: 35px 0;
}
.banner{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner_content{

}
.banner_content h1{
    
font-size: 30px;
    
color: white;
    
padding: 20px 0;
}
.banner_content p{
    
color: #dfd4d4;
    
padding: 20px 0;
    
font-size: 20px;
}
.banner_content button{background: #fb6e52;padding: 14px 20px;border-radius: 5px;}
.feature{}
.feature_One{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

text-align: center;

padding: 30px 0;
}
.feature_item{

width: 30%;
}
.feature_item h2{
    
}

.feature_item p{
    
}
.feature_icon{

width: 70px;

height: 70px;

background: #fb6e52;

border-radius: 50px;

font-size: 39px;

line-height: 77px;

margin: auto;

color: white;
}
.feature_two{
    
width: 40%;
    
margin: auto;
    
color: red;
    
font-style: italic;
    
font-size: 21px;
    
text-align: center;
}

.middile{width: 80%;margin: auto;}
.images_item{

display: flex;

justify-content: space-between;
}
.images{

width: 30%;

text-align: center;
}
.images img{
    
padding: 20px 0;
    
height: 380px;
    
width: 100%;
}
.images h3{
    
margin: 10px 0;
    
font-size: 30px;
}
.images p{
    
font-size: 20px;
    
margin-bottom: 30px;
}
.last_section{
    background-color: #f9f9f9;
    /* height: 500px; */
    /* width: 100%; */
}
.last{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.last h1{
    
}
.last_one{

width: 47%;
}
.last_one img{
    
width: 100%;
    
/* height: 50%; */
}
.last_one h3{
    
padding: 20px 0;
    
font-size: 25px;
}
.last_one p{
    
font-size: 18px;
    
margin-bottom: 70px;
}
.blog{
    width: 80%;
    margin: auto;
    background-color:#f9f9f9;
    padding: 84px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
}
footer{

background: #292c34;
}
.logo_footer{

width: 30%;

display: flex;

/* padding: 30px 0; */

align-items: center;
}
.logo_footer img{
    
}
.logo_footer p{
    
margin-left: 25px;
    
font-size: 20px;
    
color: white;
}
.content{
    width: 13%;
    /* background: rebeccapurple; */
    text-align: center;
}
.content ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* align-items: center; */
}
.content ul li{}
.content ul li a{
    
color: white;
    
font-size: 23px;
}
.footer_content{
    
width: 80%;
    
margin: auto;
    
display: flex;
    
justify-content: space-between;
    
padding: 30px 0;
    
align-items: center;
}